### Import dependencies

In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

#### Creating a path to open a browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#### Connect to url for NASA's Mars website

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html

#### Create a Beautiful Soup object

In [5]:
soup = BeautifulSoup(html, 'html.parser')

#### Results are returned as an iterable list

In [6]:
results = soup.find_all('div', class_='list_text')

#### Scrape Latest article title and teaser on NASA's Mars website

In [7]:
news_title = results[0].find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

# Display scrapped data 

print(news_title)

print(news_p)

NASA's Perseverance Rover Is Midway to Mars
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

#### JPL Mars Space Images - Featured Image

#### Connect to a url to grab NASA's featured Mars image

In [12]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

#### Create beautiful soup object

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#### Scrape the full size featured image

In [14]:
browser.click_link_by_partial_text('FULL IMAGE')
url_jpl2 = 'https://www.jpl.nasa.gov' + soup.find('a', class_='button')['data-link']
browser.visit(url_jpl2)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
featured_image_url = 'https://www.jpl.nasa.gov' + soup.find('figure', class_='lede').a['href']
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19964_hires.jpg

#### Mars Facts

#### Connect to Mars facts url

In [15]:
mars_facts_url = "https://space-facts.com/mars/"

#### Using pandas to scrape the table

In [16]:
mars_facts = pd.read_html(mars_facts_url)

In [17]:
print(len(mars_facts))

3

#### Turn table into dataframe

In [19]:
mars_facts[0].columns = ['Description', 'Value']
mars_data = mars_facts[0]
mars_data

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers